body {
    font-size: 16px;
}
h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
}
li {
    background-color: red;
    font-style: italic;
    line-height: 40px;
    text-align: center;
    text-decoration: underline;
}
.background-change {
    background-color: green;;
}
p {
    font-weight: 600;
    font-size: 3em;
    font-style: oblique ;
    text-align: right;
}
#amarelo {
    background-color: yellow;
}
#vermelho {
    background-color: red;
}
#marrom {
    background-color: brown;
}