* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

header {
  background-color: #323433;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#description {
  font-size: 25px;
  margin-top: 15px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#techs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.techs1 {
  display: flex;
}

.techs2 {
  display: flex;
}

.techs-content {
  background-color: #F1F1F1;
  margin: 10px;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#hr {
  padding: 10px;
  max-width: 12%;
  margin: auto;
} 

footer {
  display: flex;
  justify-content: center;
}
.header-img {
  width: 70px;
}

.gallery-img {
  width: 150px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}