.super-mario {
    width: 200px;
    position: absolute;
    left: 100px;
    top: 200px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    left: 140px;
    top: 500px;
    
  }
  
  .baloon {
    position: absolute;
    left: 300px;
    top: 100px;
    z-index: 1;
  }
  
  .speach {
    position: absolute;
    font-size: 25px;
    left: 320px;
    top: 130px;
    z-index: 2;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    left: 570px;
    top: 300px;
  }